
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.titulo{ margin: auto;
  padding: 10px;
  background-color: gray;
  text-align: center;
  font-size: 30px
}

.menu ul {
  display: flex; /* Menú horizontal para desktop */
  justify-content: center;
  list-style: none;
  background-color: #333;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 15px 10px;
  display: block;
}

.menu a:hover {
  background-color: #4075c1;
}

/* Breakpoint 1: Tablets */
@media (max-width: 992px) {
  .menu ul {
    flex-direction: column; /* Menú vertical */
    text-align: center;
  }

  .menu li {
    margin: 5px 0;
  }
}

/* Breakpoint 2: Móviles */
@media (max-width: 576px) {
  .menu ul {
    font-size: 14px; 
  }

  .menu a {
    padding: 10px 5px;
  }
}

.galeria-goku {
  display: flex;
  flex-wrap: wrap;      
  gap: 10px;
}

.galeria-goku img { margin: 0 auto;
  background-color: grey;
  width: 200px;         
  max-width: 200%;
  height: auto;
}
